$exiles-purple: rgb(153, 47, 155);

.c-exiles-schedule {
	width: 800px;
	background: $black;
	color: $white-ter;
	border: 1px solid $grey-lighter;
	position: relative;
	z-index: 0;

	.pattern {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.4;
		z-index: -1;
		background: center / cover no-repeat url("/exiles/images/background-pattern.png");
	}

	.tentacle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.4;
		z-index: -1;

		&.tentacle-1 {
			background: bottom -20px center / 50% no-repeat url("/exiles/images/tentacle-1.png");
		}

		&.tentacle-2 {
			background: 450px 60% / 50% no-repeat url("/exiles/images/tentacle-2.png");
		}

		&.tentacle-3 {
			background: -30px 30% / 50% no-repeat url("/exiles/images/tentacle-3.png");
		}
	}

	strong {
		color: $white-ter;
	}

	header {
		text-align: center;
		line-height: 1.1;
		border: 13px solid $black;
		border-bottom-width: 20px;
		position: relative;
		padding: 22px 0 28px 0;
		z-index: 0;
		background: $exiles-purple;

		.skull {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: center / 18% no-repeat url("/exiles/images/skull.png");
			background-position-y: -45px;
			opacity: 0.2;
			z-index: -1;
		}

		h1 {
			font-family: serif;
			font-size: $size-2;
			text-transform: uppercase;
			margin: 0 0 5px 0;
			letter-spacing: 2px;
			text-shadow: 0 0 3px $black;
		}

		p {
			font-size: $size-4;
			letter-spacing: 1px;
			text-shadow: 0 0 2px $black;
		}
	}

	section {
		border-top: 1px solid $grey-lighter;
		position: relative;
		margin-bottom: 20px;
		padding-top: 7px;

		&:last-child {
			padding-bottom: 7px;
			margin-bottom: 0;
		}

		aside {
			position: absolute;
			top: -17px;
			right: 45px;
			width: 120px;
			text-align: center;
			display: inline-block;
			line-height: 1;
			font-size: $size-5;
			padding: 4px 4px 7px 4px;
			border: 1px solid $grey-lighter;
			background: $black;
		}

		.nothing {
			font-size: $size-7;
			text-align: center;
			font-style: italic;
		}

		li {
			padding: 5px 0 12px 0;
			overflow: hidden;

			p {
				font-size: $size-5;
				line-height: 1.2;
				letter-spacing: 1px;

				&.opening-time {
					font-size: $size-5;
					padding-bottom: 11px;
					font-style: italic;
				}
			}

			.game {
				strong {
					font-weight: 600;
				}
			}

			div.details {
				position: relative;
			}

			div.image {
				float: left;
				width: 150px;
				height: 50px;
				padding: 0 8px;
				box-sizing: content-box;
				text-align: center;

				img {
					max-width: 100%;
					max-height: 100%;
					width: auto;
					height: auto;
					text-align: center;
					display: block;
					margin: 0 auto;
				}
			}

			div.description {
				float: left;
				width: 468px;
			}

			div.time {
				float: left;
				width: 120px;

				p {
					text-align: center;
					line-height: 2;
				}

				&.has-facilities {
					p {
						line-height: 1.2;
					}
				}
			}

			div.availability {
				position: absolute;
				top: 8px;
				right: 5px;
			}
		}

		.fa {
			font-size: $size-3;
			padding: 0 4px;

			&.available {
				color: #1d9668;
			}

			&.full {
				color: #d29b0c;
			}
		}

		&.legend {
			padding: 7px 4px;

			.fa {
				font-size: $size-6;
				padding-left: 0;
			}

			p {
				font-size: $size-7;
			}
		}
	}

	&.theme-high-contrast {
		.pattern, .tentacle {
			display: none;
		}
	}
}