$exiles-purple: rgb(153, 47, 155);

.c-exiles-schedule {
	width: 400px;
	background: $exiles-purple;
	color: $white-ter;
	border: 1px solid $grey-lighter;
	position: relative;
	z-index: 0;

	&.scale {
		scale: 2;
	}

	.pattern {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.4;
		z-index: -1;
		background: center / cover no-repeat url("/exiles/images/background-pattern.png");
	}

	strong {
		color: $white-ter;
	}

	header {
		text-align: center;
		line-height: 1.1;
		border: 13px solid $black;
		position: relative;
		padding: 22px 0 28px 0;
		z-index: 0;

		.skull {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: center / 30% no-repeat url("/exiles/images/skull.png");
			background-position-y: -35px;
			opacity: 0.2;
			z-index: -1;
		}

		h1 {
			font-family: serif;
			font-size: $size-5;
			text-transform: uppercase;
			margin: 0 0 5px 0;
			letter-spacing: 2px;
		}

		p {
			font-size: $size-6;
		}
	}

	section {
		border-top: 1px solid $grey-lighter;
		position: relative;
		margin-bottom: 7px;
		padding-top: 7px;

		&:last-child {
			padding-bottom: 7px;
			margin-bottom: 0;
		}

		aside {
			position: absolute;
			top: -9px;
			right: 20px;
			width: 70px;
			text-align: center;
			display: inline-block;
			line-height: 1;
			font-size: 0.70rem;
			padding: 2px 2px 3px 2px;
			border: 1px solid $grey-lighter;
			background: $black;
		}

		.nothing {
			font-size: $size-7;
			text-align: center;
			font-style: italic;
		}

		li {
			margin: 5px 0 12px 0;
			overflow: hidden;

			p {
				font-size: $size-6;
				line-height: 1.2;

				&.opening-time {
					font-size: $size-7;
					margin-bottom: 7px;
					font-style: italic;
				}
			}

			.game {
				strong {
					font-weight: 600;
				}
			}

			div.details {
				position: relative;
			}

			div.image {
				float: left;
				width: 75px;
				height: 30px;
				padding: 0 4px;
				box-sizing: content-box;
				text-align: center;

				img {
					max-width: 70px;
					max-height: 30px;
					width: auto;
					height: auto;
					text-align: center;
					display: block;
					margin: 0 auto;
				}
			}

			div.description {
				float: left;
				width: 226px;
			}

			div.time {
				float: left;
				width: 70px;

				p {
					text-align: center;
					line-height: 2;
				}
			}

			div.availability {
				position: absolute;
				top: 5px;
				right: 0;
			}
		}

		.fa {
			font-size: $size-5;
			padding: 0 4px;

			&.available {
				color: #1d9668;
			}

			&.full {
				color: #d29b0c;
			}
		}

		&.legend {
			padding: 7px 4px;

			.fa {
				font-size: $size-6;
				padding-left: 0;
			}

			p {
				font-size: $size-7;
			}
		}
	}
}