<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Exiles Pinned Post Generator</title>

		<link rel="stylesheet" href="../css/common.css">
		<link rel="stylesheet" href="../css/exiles.css">
	</head>

	<body>
		<div id="exiles">
			<nav class="nav has-shadow">
				<div class="nav-left">
					<span class="nav-item is-brand" href="#">D&amp;D Tools</span>
					<a class="nav-item is-active" href="#">Pinned Post Generator</a>
				</div>
			</nav>

			<section class="section">
				<div class="container is-fluid">
					<div class="level">
						<div class="level-left">
							<p class="level-item">Get Events for: </p>
							<button rel="getEvents" type="button" @click="previousWeek" class="button level-item">Last Week</button>
							<button rel="getEvents" type="button" @click="thisWeek" class="button level-item is-primary">This Week</button>
							<button rel="getEvents" type="button" @click="nextWeek" class="button level-item">Next Week</button>
						</div>
						<div class="level-item">
							<div class="field is-horizontal">
								<div class="field-label is-normal">
									<label class="label">Theme</label>
								</div>
								<div class="field-body">
									<div class="field is-narrow">
										<div class="control">
											<div class="select is-fullwidth">
												<select v-model="theme">
													<option value="">None</option>
													<option value="high-contrast">High Contrast</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="level-right">
							<button rel="generate" type="button" @click="generate" class="button level-item is-primary">Generate</button>
						</div>
					</div>

					<div class="columns">
						<div class="column">
							<p v-if="events.length > 0">Week Schedule (Mon-Thu)</p>
							<c-exiles-schedule ref="week" v-if="events.length > 0" :date="dateWeek" :sections="week.sections" :theme="theme"></c-exiles-schedule>
						</div>
						<div class="column">
							<p v-if="events.length > 0">Weekend Schedule (Fri-Sun)</p>
							<c-exiles-schedule ref="weekend" v-if="events.length > 0" :date="dateWeekend" :sections="weekend.sections" :theme="theme"></c-exiles-schedule>
						</div>
					</div>
					<div class="columns">
						<div class="column">
							<p v-if="imageSrcWeek">Week Schedule (Mon-Thu) (Right click -> Save As)</p>
							<img v-if="imageSrcWeek" :src="imageSrcWeek" class="generated-schedule">
						</div>
						<div class="column">
							<p v-if="imageSrcWeekend">Weekend Schedule (Fri-Sun) (Right click -> Save As)</p>
							<img v-if="imageSrcWeekend" :src="imageSrcWeekend" class="generated-schedule">
						</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<script src="../js/common.js"></script>
		<script src="../js/exiles.js"></script>
	</body>
</html>
